
<h1>Editar Recomendações</h1>

<%= render "form", recomendacao: @recomendacao %>

<br>

<div>
  <%= link_to "Mostrar Recomendações", @recomendacao %> |
  <%= link_to "Voltar", recomendacoes_path %>
</div>
